h2 {
    color: blue;
}

a {
    color: darkgreen;
}

p {
    color: indianred;
}

li {
    background-color: lightblue;
    border: 1px solid blue;
}

table {
    background-color: orange;
    border: 5px solid darkred;
}

td {
    border: 5px solid black;
}